# Trabajo Práctico N° 4

### Importar librerías y cargar bases de datos

In [1]:
#Importar librerías
import os #módulo para trabajar con carpetas
import pandas as pd

#Cargamos el archivo desde el directorio del GitHub
base_dir = os.getcwd() # Construye la ruta relativa al archivo CSV desde el directorio actual

#cargamos bases de datos
excel_path = os.path.join(base_dir, 'usu_hogar_T124.xlsx')
hogar_eph24 = pd.read_excel(excel_path)
hogar_eph04 = pd.read_stata('Hogar_t104.dta')

In [2]:
hogar_eph24.head()

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,REALIZADA,REGION,MAS_500,AGLOMERADO,PONDERA,IV1,...,GDECCFR,PDECCFR,ADECCFR,PONDIH,VII1_1,VII1_2,VII2_1,VII2_2,VII2_3,VII2_4
0,TQRMNORPSHLOLMCDEFNFF00852337,2024,1,1,1,41,N,7,179,1,...,NaN,5.0,5,212,1,2,98,0,0,0
1,TQRMNOPRYHKOKTCDEFNFF00856789,2024,1,1,1,41,N,7,313,1,...,NaN,12.0,12,0,1,0,2,0,0,0
2,TQTMNORRSHKOKTCDEFNFF00856790,2024,1,1,1,41,N,7,286,1,...,NaN,8.0,9,401,2,0,1,0,0,0
3,TQRMNORRSHKOKTCDEFNFF00856791,2024,1,1,1,41,N,7,306,1,...,NaN,5.0,6,438,2,0,3,0,0,0
4,TQRMNOQTVHKLLLCDEFNFF00856792,2024,1,1,1,41,N,7,361,1,...,NaN,6.0,7,831,1,0,2,0,0,0